/*
 * Common layout.
 * ------------------------------------------------------------------------------------------------------------------
 */

h1 {
	font-size: 2em;
}

p {
	font-size: 1.2em;
}

button {
	padding: 1rem 1.6rem 0.8rem 1.6rem;
	border-style: none;
	border-radius: 4rem;
	line-height: 1;
}

a {
	text-decoration: underline;
}

button {
	text-align: center;
}

/*
 * Global element styles.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV] [data-key=LG] {
	width: #{$logo_width};
	height: #{$logo_height};
	right: #{$padding_normal};
	bottom: #{$padding_normal};
}

[data-key=BG] {
	overflow: hidden;
}

[data-key=FG_OVR] {
	left: calc(-200% - #{$scale});
	width: calc(400% + (#{$scale} * 2));
	top: calc(-200% - (#{$scale} * 2));
	height: calc(400% + #{$scale} * 4);
	min-height: calc(#{$scale} * 2);
}

[data-key=MS] {
	text-align: left;
	vertical-align: middle;
}

[data-key=MS] [data-key=MS_TXT_1] {
	margin-top: #{$padding_small};
}

[data-key=MS] [data-key=MS_TXT_2] {
	margin-top: #{$padding_normal};
}
