
[data-key=CV].CV_tens_t1 [data-key=FG],
[data-key=CV].CV_tens_t1 [data-key=MS] {
  left: #{$padding_normal};
  top: #{$padding_normal};
  width: calc(100% - (#{$padding_normal} * 2));
  height: calc(40% - (#{$padding_normal} * 1));
}

[data-key=CV].CV_tens_t1 [data-key=BG].BG_place_fit [data-key=BG_OBJ] {
  left: #{$padding_normal};
  bottom: calc(#{$logo_height} + (#{$padding_normal} * 2) + 5%);
  height: calc(100% - 40% - #{$logo_height} - (#{$padding_normal} * 3) - 5%);
  width: calc(100% - (#{$padding_normal} * 2));
}