
[data-key=CV].CV_tens_w2 [data-key=FG],
[data-key=CV].CV_tens_w2 [data-key=MS] {
  left: #{$padding_normal};
  top: #{$padding_small};
  height: calc(100% - (#{$padding_small} * 2));
  width: 40%;
  vertical-align: middle;
}

[data-key=CV].CV_tens_w2 [data-key=MS] br {
  display: none;
}

[data-key=CV].CV_tens_w2 [data-key=BG].BG_place_fit [data-key=BG_OBJ] {
  right: calc(#{$logo_width} + (#{$padding_normal} * 2) + 5%);
  top: #{$padding_small};
  width: calc(100% - 40% - 5% - #{$logo_width} - (#{$padding_normal} * 4));
  height: calc(100% - (#{$padding_small} * 2));
}
