/*
 * Global style setup and inheritance.
 * ------------------------------------------------------------------------------------------------------------------
 */

* {

	/**
	 * Reset default element styles.
	 */
	margin: 0;
	padding: 0;
	position: relative;
	zoom: 1;
	border: none;
	outline: none;
	background: none;
	border-spacing: 0;
	list-style: none;
	font-style: normal;

	/**
	 * Inherit most important styles for better controls.
	 */
	border-collapse: inherit;
	vertical-align: inherit;
	text-align: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	border-color: inherit;
	text-decoration: inherit;
	line-height: inherit;
	visibility: inherit;
	cursor: inherit;
	/*z-index: inherit;*/

	/**
	 * Ignore automatic font size adjustment.
	 */
	-webkit-text-size-adjust: 100%;

}

/**
 * Remove user select to prevent gesture issues.
 */
*:not(input):not(select):not(textarea) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*
 * Global defaults.
 * ------------------------------------------------------------------------------------------------------------------
 */

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: transparent;
}

body {
	visibility: hidden;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	font-family: "Lucida Grande", sans-serif;
}

*.relative {
	position: relative;
	width: auto;
	height: auto;
}

*.inline {
	display: inline-block;
}

*.empty,
*.disabled {
	display: none;
}

*.hidden {
	visibility: hidden;
}

*.ready,
*.visible {
	visibility: visible;
}

div.table {
	display: table;
}

div.cell {
	position: relative;
	display: table-cell;
}

div.row {
	position: relative;
	display: table-row;
}

div, ul, li {
	position: absolute;
	width: 100%;
	height: 100%;
}

img,
svg,
video {
	position: absolute;
}

q:before,
q:after {
	content: normal;
}

body, a, button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

*.gesture a {
	text-decoration: underline;
}

u {
	white-space: nowrap;
}

var br {
	display: none;
}

p {
	display: inline-block;
	vertical-align: baseline;
}

p span {
	display: inline;
}

small {
	font-size: 0.75em;
}

big {
	font-size: 1.5em;
}

sup {
	font-size: 0.8em;
	vertical-align: super;
}

sub {
	font-size: 0.8em;
	vertical-align: text-bottom;
}

/*
 * Fallback replace.
 * ------------------------------------------------------------------------------------------------------------------
 */

#fallback, *.fallback,
#fallback img, *.fallback img {
	position: absolute;
	left: 0;
	top: 0;
}

/*
 * Animation styles.
 * ------------------------------------------------------------------------------------------------------------------
 */

*.animation_disabled,
*.animation_disabled * {
	animation: none !important;
	transition: none !important;
}

*.animation_disabled,
*.animation_disabled *,
*.animation_skipped,
*.animation_skipped * {
	animation-duration: .0s !important;
	transition-duration: .0s !important;
}